In [1]:
import numpy as np

a = -10

def abs(x):
    if x < 0:
        x = -x
    return x

abs(-10)

10

In [2]:
A = {"Apples","Bananas","Peaches","Grapes","Bananas","Mangoes","Bananas"}
print(A, type(A))
# or
A = set(["Apples","Bananas","Peaches","Grapes","Bananas","Mangoes","Bananas"])
print(A, type(A))

{'Bananas', 'Mangoes', 'Grapes', 'Peaches', 'Apples'} <class 'set'>
{'Bananas', 'Mangoes', 'Grapes', 'Peaches', 'Apples'} <class 'set'>

In [3]:
for x in A:
    print(x)

Bananas
Mangoes
Grapes
Peaches
Apples

In [14]:
# Initializing Null Set
A = set()
print(A, type(A))
# Curly braces alone will initialize a dictionary
A = {}
print(A, type(A))

set() <class 'set'>
{} <class 'dict'>

In [15]:
# Example of Singleton Set
A = {506}
# or
B = {"Banana"}

In [4]:
# Subset - A set which is a part or section of a larger set is called its (the larger set's) subset
A = {5,2,1,3,4,6}
B = {1,2}
print(type(A), type(B))

<class 'set'> <class 'set'>

In [17]:
print(B.issubset(A))

False

In [16]:
print(A.issubset(B))

False

In [20]:
# Super Set - A set which contains all elements of a certain set and may contain some more elements, is called a Superset
A={1,2,3,4,5,6,7,8,9,0} 
B={2,4,6,8}

In [21]:
print(A.issuperset(B))

True

In [22]:
print(B.issuperset(A))

False

In [33]:
A={1,2,3,4,5,6,7,8,9,0} 
B={2,4,6,8}
C=set()
C

set()

In [34]:
print(A.issubset(B))
print(B.issuperset(C))
print(A.issuperset(B))
print(C.issubset(A))

False
True
True
True

In [41]:
A = {5,2,1,3,4,6}
A.add(13)
A

{1, 2, 3, 4, 5, 6, 13}

In [42]:
B= {17, 21}
A.update(B)
A

{1, 2, 3, 4, 5, 6, 13, 17, 21}

In [27]:
A.remove(4)
A

{1, 2, 3, 5, 6, 13}

In [28]:
A.discard(13)
A

{1, 2, 3, 5, 6}

In [23]:
# Frozen Sets - We can make a set immutable by making the set a frozet set
S = frozenset([1,2,3])
S

frozenset({1, 2, 3})

In [24]:
S.add(4)
S

AttributeError: 'frozenset' object has no attribute 'add'

In [11]:
!python --version

Python 3.7.6

In [46]:
A={3,6,4,8,2,0,5,1,9,7}
A.discard(9)
A

{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [47]:
A.remove(12)
A

KeyError: 12

In [48]:
A.remove(3)
A

{0, 1, 2, 4, 5, 6, 7, 8}

In [49]:
A.clear()
A

set()

In [50]:
# Union - A union of two sets is a collective set containing every element of both sets.
A = {"Apples", "Kiwis", "Bananas"}
B = {"Bananas", "Tomatoes", "Potatoes", "Spinach"}

print("Union: ", A | B)
print("Union: ", B | A)

Union:  {'Bananas', 'Spinach', 'Potatoes', 'Kiwis', 'Tomatoes', 'Apples'}
Union:  {'Bananas', 'Spinach', 'Apples', 'Kiwis', 'Tomatoes', 'Potatoes'}

In [52]:
# Intersection - collection of all elements that are common in all of the individual sets
A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}
print("Intersection:", A & B)

A = {"Apples", "Kiwis", "Bananas"}
B = {"Bananas", "Tomatoes", "Potatoes", "Spinach"}
print("Intersection:", A & B)

Intersection: {2, 4}
Intersection: {'Bananas'}

In [53]:
# Difference between two sets
print("Difference: ", A - B)
print("Difference: ", B - A)

Difference:  {'Kiwis', 'Apples'}
Difference:  {'Spinach', 'Tomatoes', 'Potatoes'}

In [54]:
# A symmetric difference of two sets is a collection of elements which occur in either of the sets but not both
A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}
print("Symmetric difference:", A ^ B)

Symmetric difference: {0, 1, 3, 5, 6, 8}